<app-pageheader [pageHeaderTitle]="pageHeaderTitle"></app-pageheader>

<div *ngIf="product" class="product-detail">

    <h2 class="detail-title">{{product.title}}</h2>

    <div>
        <label>About this product:</label>
        <p>{{product.description}}</p>
    </div>

    <div>
        <label>Categories:</label>
        <p *ngFor="let category of product.categories">{{category.category}}</p>
    </div>

    <div>
        <label>Product SKU:</label>
        <p>{{product.sku}}</p>
    </div>
</div>

